#quoteSection {
    background-color: black;
    color: white;
    width: 95%;
    padding: 15px;
    margin: 25px auto;
}

#quote {
    font-size: 30px;
    text-align: right;
}

#author {
    font-size: 15px;
    text-align: right;
    color: #f9d25e;
}

#messageBoardSection {
    width: 45%;
    border: 5px #014F16 solid;
    padding: 10px;
    margin: 25px;
}

#posts {
    max-height: 500px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

#individualPost {
    background-color: #F1F0E9;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    margin: 8px;
}

#timeposted {
    opacity: .4;
    font-style: italic;
}

#likeimg, .crownimg {
    width: 20px;
}

#likeButton, #sendMessage, #deletePostButton {
    padding: 5px;
    font-family: 'Quicksand', 'sans-serif';
    border: none;
    background-color: inherit;
}

#likeButton:hover, #deletePostButton:hover, #sendMessage:hover {
    cursor: pointer;
}

#likeButton:disabled, #deletePostButton:disabled, #sendMessage:disabled {
    cursor: auto;
}

#typeMessage {
    display: flex;
}

#messageInput {
    width: 85%;
    margin: 5px;
    font-family: 'Quicksand', 'sans-serif';
}

@media (min-width: 320px) and (max-width: 480px) {
    #quoteSection {
        margin: 5px auto;
        padding: 5px;
    }
    
    #quote {
        font-size: 20px;
    }

    #author {
        font-size: 12px;
    }

    #messageBoardSection {
        width: 90%;
        padding: 5px;
        margin: 5px auto;
    }
}