@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

#register-container input, #login-container input {
    font-family: 'Quicksand', 'sans-serf';
    margin: 5px;
    width: 225px;
}

#register-container, #login-container {
    background-color: #014f1667;
    margin:  20px auto;
    width: 30%;
    padding: 13% 30%;
    color: black;
}

#register-container {
    padding: 10% 25%;
    width: 40%;
}

#register-container h1, #login-container h1 {
    text-align: center;
    margin: 0px;
}

#login-form, #register-form {
    margin: 0px;
}

#register-link {
    color: black;
    text-decoration: none;
}

#register-link:hover {
    border-bottom: 1px solid black;
}

#login-submit, #register-submit {
    text-align: center;
}

#login-submit button, #register-submit button {
    padding: 5px;
    font-family: 'Quicksand', 'sans-serif';
}

@media (min-width: 320px) and (max-width: 480px) {
    #register-container, #login-container {
        min-width: fit-content;
        max-width: 90%;
        margin: 15px auto;
        padding: 15px;
    }
}